/******************************************************* Régles Globales ***********************************************/
body
{
    background-color: black;
    color: white;   
}

a
{
    color:black;
}


main
{
    margin-left:100px;
}

ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/***************************************************** Régles Globales Fin ***********************************************/

/***************************************************** Barre de Navigation ***********************************************/
#main_menu
{
    background-color: rgba(255,255,255,1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 70; /* premier plan */
    height: 100%;
    width: 100px;
    padding: 0;
    margin: 0;
}

#myMenu
{
    padding: 0;
    margin: 0px;
    display:flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;   
}

#myMenu a:hover
{
    color:red;   
}


/***************************************************** Barre de Navigation Fin ************************/

/***************************************************** Section Home ***********************************/ 

#sectionHome
{
    background-color: black;
    background-image: url("../images/mars.jpg");
    background-repeat: no-repeat;
    background-position:0% 100%; 
}

#titre
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 40%;
	height: auto;
}

/****************************************************** Section Home Fin *******************************/ 

/****************************************************** Section Jeu ************************************/ 

#sectionJeu
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#sectionJeu h2
{
    color: black;
}

#sectionJeu article
{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: auto;
    background-color: black; 
}

#sectionJeu article p
{
    height: auto;
    margin: 0px;
}

.imageResume
{
    max-width: 20%; 
    height: auto;
}

/****************************************************** Section Jeu Fin ********************************/ 

/****************************************************** Section News ********************************/ 

#sectionNews
{
    background-color: white;
    text-align: center;
}
h2
{
    color: black;
    padding: 20px;
    margin: 0px;
}

#sectionNews article
{
    background-color: black;
    overflow: auto; /*permet de mettre une barre scroll*/
    height: 100%;
}

/****************************************************** Section News Fin ********************************/ 

/****************************************************** Section Histoire ********************************/ 

#sectionHistoire
{
    display: flex;
    flex-wrap: nowrap;
}

#histoire
{
    background-color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#histoire h2
{
    background-color: white;
    color: black;
    margin: 0px;
    padding: 20px;
    width: 100%;
}

#histoire p
{
    padding-left: 20px;
    padding-right: 20px;
    margin: auto; 
    overflow: auto;
}



/*******************************************************************/
#description
{
    
    background-color: dimgrey;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#menuDescription
{
    width:100%;
    background-color: white;
}

#niveauUn
{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 0px;
}

#menuDescription>ul>li
{
    flex-flow:row;
}

/*#menuDescription > ul > li
{
    float: left; 
    position: relative;
}*/

.niveauDeux
{
    display: none; 
}

#menuDescription li:hover .niveauDeux
{
    display: flex;
    justify-content: space-around;
    position: absolute;
    flex-wrap: wrap;
    width: 100%;
    top: 100%;
    left: 0px;
    z-index: 100000;
}

#menuDescription a
{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

#menuDescription> ul > li > a
{
    color:black;
    font-size: 20px;
    padding: 22px;
}

.niveauDeux li
{
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom:  1px solid #CCC;
}

.niveauDeux li a
{
    padding: 15px 30px;
    font-size: 16px;
    width: 100%;
}

#description article
{
    margin: auto;
    width: 100%;
}

.imageMinActive
{
    width:50%;
}

.imageMinInactive
{
    display:none;
}

.textActif
{
    padding:20px;
}

.textInactif
{
    display:none;
}

/****************************************************** Section Histoire FIN ********************************/ 

/****************************************************** Section A Propos ********************************/ 

#sectionMenu
{
    background-color: rgba(255,255,255,1);
    top: 0;
    left: 0;
    z-index: 70; /* premier plan */
    height: 50px;
    width: 100%;
}

#ourMenu
{
    padding: 0;
    margin: 0px;
    display:flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;   
}

#ourMenu a:hover
{
    color:red;   
}

/****************************************************** Section A Propos Fin ********************************/
