/******************************************************* Régles Globales ***********************************************/
body
{
    background-color: black;
    color: white;   
}

a
{
    color:rgba(04,15,29,1);
}


main
{
    margin-left:100px;
}

ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}


/***************************************************** Régles Globales Fin ***********************************************/

/***************************************************** Barre de Navigation ***********************************************/
#main_menu
{
    background-color: rgba(69,82,98,1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 70; /* premier plan */
    height: 100%;
    width: 100px;
    padding: 0;
    margin: 0;
}

#myMenu
{
    padding: 0;
    margin: 0px;
    display:flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;   
}

#myMenu a:hover
{
    color:rgba(189,202,218,1);   
}


/***************************************************** Barre de Navigation Fin ************************/

/***************************************************** Section Home ***********************************/ 

#sectionHome
{
    background-color: black;
    background-image: url("../images/mars.jpg");
    background-repeat: no-repeat;
    background-position:0% 100%; 
    background-attachment: fixed;
}

#titre
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 40%;
	height: auto;
}

/****************************************************** Section Home Fin *******************************/ 

/****************************************************** Section Jeu ************************************/ 

#sectionJeu
{
    background-color: rgba(69,82,98,1);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sectionJeu h2
{
    color: black;
}

#sectionJeu article
{
    background-color: rgba(14,25,39,1);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    overflow: auto;
    padding: 5%;
}

#sectionJeu article p
{
    height: auto;
    width: 50%;
    text-align: justify;
    font-size: 20px;
}

.imageResume
{
    max-width: 20%; 
    height: auto;
}

/****************************************************** Section Jeu Fin ********************************/ 

/****************************************************** Section News ********************************/ 

#sectionNews
{
    background-color: rgba(14,25,39,1);
    text-align: center;
}
h2
{
    background-color: rgba(69,82,98,1);
    color: black;
    padding: 20px;
    margin: 0px;
}

#sectionNews article
{
    background-color: rgba(14,25,39,1);
    overflow: auto; /*permet de mettre une barre scroll*/
    height: 100%;
}

#sectionNews article p
{
    color : rgba(149,162,178,1);
    width: 75%;
    margin: auto;
    text-align: justify;
}

/****************************************************** Section News Fin ********************************/ 

/****************************************************** Section Histoire ********************************/ 

#sectionHistoire
{
    display: flex;
    flex-wrap: nowrap;
}

#histoire
{
    background-color: rgba(14,25,39,1);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#histoire h2
{
    background-color: rgba(69,82,98,1);
    color: rgba(14,25,39,1);
    margin: 0px;
    padding: 20px;
    width: 100%;
}

#histoire p
{
    padding-left: 20px;
    padding-right: 20px;
    margin: auto; 
    overflow: auto;
    width: 70%;
    text-align: justify;
    font-size: 24px;
}

#histoire div
{
    margin: auto;
    width: 100%;
}

.textActif
{
    padding-left: 20px;
    padding-right: 20px;
    margin: auto; 
    overflow: auto;
}

.textInactif
{
    display:none;
}

/*******************************************************************/
#description
{
    background-color: dimgrey;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#menuDescription
{
    width:100%;
    background-color: grey;
}

#niveauUn
{
    background-color: rgba(39,47,56,1);
    display: flex;
    justify-content: space-around;
    position: relative;
    font-size: 20px;
    color: rgba(189,202,218,1);
}

#niveauUn>li
{
    display: flex;
    height: 67px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.niveauDeux
{
    display: none; 
}

#menuDescription li:hover .niveauDeux
{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    z-index: 100000;
}

.niveauDeux li
{
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom:  1px solid #CCC;
    padding: 15px 30px;
    font-size: 16px;
}


#description article
{
    margin: auto;
    width: 100%;
    overflow: auto;
}

.imageMinActive
{
    margin-top: 5%;
    width:50%;
}

.imageMinInactive
{
    display:none;
}

.tableauActif
{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;  
    margin-bottom: 5%;
}

.tableauActif th 
{
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    width: 50%;
    text-align: left;
    padding: 5px;
    padding-left: 20px;        
}

.tableauActif td
{
    background-color: rgba(0, 0, 0, 0.5);
}

#firstTr td
{
    border-top-right-radius: 20px;
}
#firstTr th
{
    border-top-left-radius: 20px;
}

.tableauInactif
{
    display: none;
}


/****************************************************** Section Histoire FIN ********************************/ 

/****************************************************** Section A Propos ********************************/ 

/*#sectionMenu
{
    background-color: rgba(255,255,255,1);
    top: 0;
    left: 0;
    z-index: 70; // premier plan 
    height: 50px;
    width: 100%;
} */

#sectionMenu
{
    background-color: rgba(69,82,98,1);
    z-index: 70;
    margin-left: -20px;
    height: 20px;
    width: 100%;
    text-align: center;
} 

#ourMenu
{
    padding: 0;
    margin: 0px;
    display:flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;   
}

/*
    #ourMenu a:hover
    {
        color:red;   
    }
*/

.slide
{
    background-color: grey;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.principal
{
    padding-bottom: 60px;
    overflow: auto;
    height: 100%;
}
#sectionNous h1
{
    text-align: center;
    color: rgba(14,25,39,1);
}

.corps a
{
    color: rgba(149,162,178,1);
}

.corps
{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
    height: auto;
}

.corps img
{
    height: auto;
    width: 50%;
    max-width: 500px;
    max-height: 100%;
    margin-left: 10px;
    padding: 20px;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;   
}

.biographie
{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

#sectionNous table
{
    margin-bottom: 0px;
    border-radius: 20px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#sectionNous th, #sectionNous td
{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
}

#sectionNous th
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/****************************************************** Section A Propos Fin ********************************/
